.page-about-view {
  background: #F5F5F5;
  min-height: 100vh;

   .empty-view{
    width: 100vw;
    height: 20px;
    background-color: #FFF;
   }
  // 主内容区域
  .content-section {
    padding: 48px 0; // 24px * 2
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px; // 200px * 2

    // 应用图标容器
    .app-icon-container {
      margin-bottom: 28px; // 24px * 2
      width: 156px;
      height: 156px;
      background-color:#020301 ;
      border-radius: 24px;
      display: flex;
      align-items: center;
      justify-content: center;

      .app-icon {
         width: 114px;
         height: 54px;
      }
    }

    // 应用信息
    .app-info {
      text-align: center;

      .app-title {
        font-size: 36px; // 18px * 2
        font-weight: 500;
        color: #242729;
        margin-bottom: 8px; // 4px * 2
      }

      .app-version {
        font-size: 32px; // 16px * 2
        font-weight: 400;
        color: #242729;
      }
    }
  }

  // 分享按钮区域
  .share-section {
    padding: 40px 40px 70px; // 20px * 2
    background-color: #fff;

    .share-btn {
      width: 100%;
      height: 96px; // 48px * 2
      background: #DEFC52;
      border-radius: 48px; // 24px * 2
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .share-text {
        font-size: 32px; // 16px * 2
        font-weight: 500;
        color: #000;
        line-height: 1.4;
      }
    }
  }
}
