.page-result-view {
  position: relative;
  background-color: #020202;
  
  .custom-page-header{
    .title-text{
      font-size: 32px !important;
    }

    .left-zone{
      background-image: url('https://m.hellobike.com/8133e1b1_back_white_icon.png');
      background-size: 48px 48px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  // 主内容卡片
  .content-card {
    width: 670px;
    height: 1272px;
    position: relative;
    margin: 40px auto 0; // 从 Figma 看是 19px
    padding: 56px 40px 0; // 4px * 2, 3px * 2
    background-image: url('https://m.hellobike.com/resource/gallery/92/Lw0SD8W5_taichi_image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px; // 2.5px * 2
    z-index: 1;
    box-sizing: border-box;


    // 标题区域
    .title-section {
      text-align: center;

      .title-header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px; // 6px * 2
        margin-bottom: 44px; // 11px * 2

        .line {
          width: 47px; 
          height: 2px; 
          background: #323232;
        }

        .title-text {
          font-size: 32px; 
          font-weight: 400;
          color: #323232;
        }
      }

      .result-status {
        font-family: Philosopher, sans-serif;
        font-size: 60px; // 15px * 2
        font-weight: 700;
        color: #020202;
        line-height: 1; // 17px * 2
        margin-bottom: 14px; // 4px * 2
      }

      .result-tip {
        font-size: 28px; // 7px * 2
        font-weight: 400;
        color: #7B7B7B;
      }
    }

    .img-section{
      margin: 28px 0 56px;
      display: flex;
      align-items: center;
      justify-content: center;

  .product-image-container{
    position: relative;
    width: 278px;
    height: 342px;

    .product-image{
      width: 278px;
      height: 342px;
    }

    .verify-badge{
      width: 132px;
      height: 132px;
      position: absolute;
      right: -100px;
      bottom: -30px;
    }
  }
      
    }


    // 鉴定师信息
    .appraiser-info {
      display: flex;
      align-items: center;
      margin-top: 20px;

      .appraiser-avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 20px;
      }

      .appraiser-badge {
        display: flex;
        align-items: center;
        height: 26px;
        width: 120px;
        background: #000;
        border-radius: 13px;
        margin-right: 3px;
        position: relative;

        .verified-icon {
          position: absolute;
          top: 0;
          left: -2px;
          width: 26px;
          height: 26px;
        }

        .badge-text {
          font-size: 16px;
          font-weight: 600;
          color: #DEFC52;
          margin-left: auto;
          margin-right: 10px;
        }
      }

      .appraiser-name {
        font-size: 26px;
        font-weight: 500;
        color: #000;
        margin-top: 8px;
        line-height: 1;
      }
    }

    // 鉴别说明
    .description {
      margin: 24px 0 0;
      font-size: 24px;
      font-weight: 400;
      color: #595959;
      line-height: 1.5;
    }

    // 鉴别部位分析标题
    .analysis-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 32px 12px 0 0;

      .analysis-title {
        font-size: 24px;
        font-weight: 500;
        color: #000;
        line-height: 28px;
        letter-spacing: 2px;
      }

    .header-right{
      display: flex;
      align-items: center;

      .analysis-count {
        font-size: 24px;
        font-weight: 500;
        color: #000;
        line-height: 28px;
        letter-spacing: 2px;
        margin-right: 6px;
      }

      
    }
     
    }

    .check-success-icon{
      width: 20px;
      height: 20px;
    }
    // 检测项目列表
    .check-list {
      margin: 32px 12px 0 0;

      .check-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom:8px;

        .check-label {
          font-size: 24px;
          font-weight: 300;
          color: #595959;
         
        }

        .divider-line {
          flex: 1;
          height: 0;
          margin: 0 12px;
          border-bottom: 1px dashed #ADADAD;
        }
      }

      
    }

    // 鉴别ID和时间
    .info-section {
      margin: 30px 28px 0 0;

      .info-row {
        display: flex;
        align-items: center;
        margin-bottom: 14px;

        &:last-child {
          margin-bottom: 0;
        }

        .info-label {
          font-size: 22px;
          font-weight: 400;
          color: #595959;
          line-height: 28px;
          letter-spacing: 2px;
        }

        .info-value {
          font-family: 'PingFang SC', sans-serif;
          font-size: 20px;
          font-weight: 500;
          color: #595959;
          line-height: 28px;
          letter-spacing: 2px;
          margin-right: 16px;
        }
      }
    }

  }

  // 底部提示
  .footer-tip {
    display: block;
    text-align: center;
    font-size: 20px; // 5px * 2
    font-weight: 400;
    color: #FFF;
    line-height: 28px; // 7px * 2
  }
}
