@use './var.scss';

@mixin border_line($color: #ececec, $pos: 'bottom', $type: solid) {
  position: relative;

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform-origin: top left;

    @if $pos == 'bottom' {
      border-bottom: 2px $type $color;
    }

    @if $pos == 'top' {
      border-top: 2px $type $color;
    }

    @if $pos == 'left' {
      border-left: 2px $type $color;
    }

    @if $pos == 'right' {
      border-right: 2px $type $color;
    }

    @media only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
      width: 200%;
      height: 200%;
      transform: scale(0.5);
    }

    @media only screen and (min-device-pixel-ratio: 3), only screen and (min-resolution: 3dppx) {
      width: 300%;
      height: 300%;
      transform: scale(0.3333);
    }
  }
}