$primary:#3ba9f5;
$warning:#fa5151;

$black: #000;
$white: #fff;

$gray-2: #222;
$gray-3: #333;
$gray-6: #666;
$gray-9: #999;

$gray-f2: #f2f2f2;
$gray-f8: #f8f8f8;

$gray-a: #aaa;
$gray-c: #ccc;
$gray-d: #ddd;
$gray-e: #eee;




