.page-settings-view {
  background: #FFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;


  // 设置选项列表
  .settings-list {
    margin-top: 40; // 55px * 2
    padding: 0 40px; // 20px * 2

    .settings-item {
      position: relative;
      height: 100px; // 50px * 2
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item-label {
        text-indent: 14px;
        font-size: 32px; // 16px * 2
        font-weight: 400;
        color: #242729;
        line-height: 1.4;
      }

      .item-value {
        font-size: 32px; // 16px * 2
        font-weight: 400;
        color: #242729;
        line-height: 1.4;
        text-align: right;
        flex: 1;
        margin-left: 32px;
        margin-right: 24px;
      }

      .item-arrow{
        width: 24px;
        height: 24px;
      }

     
    }

    .settings-divider {
      height: 1px; // 0.5px * 2
      background: #E1E6EB;
    }
  }

  // 退出登录按钮
  .logout-section {
    flex: 1;
    display: flex;
    align-items: flex-end;
    padding: 0 40px 60px; // 20px * 2, 30px * 2

    .logout-btn {
      width: 100%;
      height: 96px; // 48px * 2
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #BCC4CC;
      border-radius: 48px; // 24px * 2
      cursor: pointer;
      background: #FFF;

      .logout-text {
        font-size: 36px; // 18px * 2
        font-weight: 400;
        color: #5A6066;
        line-height: 1.4;
      }
    }
  }
}

