.com-drawer-wrapper {
  .float-layout-body-bottom {
    height: 80vh !important;
    border-top-left-radius: 40px !important;
    border-top-right-radius: 40px !important;
  }

  .drawer-panel-view {
    display: flex;
    flex-direction: column;
    height: 100%;

    .indicator-bar {
      margin-top: 16px;
      margin-left: auto;
      margin-right: auto;
      right: 18px;
      width: 240px;
      height: 16px;
      background: #999;
      border-radius: 160px;
      transform: scale(0.5);
    }

    .drawer-title-view {
      height: 88px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      font-weight: 600;
      position: relative;
      color: #333;

      .close {
        position: absolute;
        top: 15%;
        right: 18px;
        transform: translateY(-50%);
        width: 80px;
        height: 80px;

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 30%;
          width: 40%;
          height: 2px; /* 线条的厚度 */
          background-color: #666; /* 线条的颜色 */
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }
    }

    .drawer-body-view {
      flex: 1;
      height: 0;
    }
  }
}
