.app-elf-view {
  .dev-config-route-list {
    padding: 20px 0 0;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
    animation: elf-fade-in 0.4s forwards;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .route-list-scroll {
      flex: 1;
      height: 0;

      .scroll-container-body {
        padding: 0 24px;
        box-sizing: border-box;
      }
    }

    .route-list-item {
      min-height: 80px;
      border-bottom: 1px solid #a1a0a0;
      padding: 12px;
      box-sizing: border-box;
      font-size: 26px;
      color: #333;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      &.active {
        background: #269601;
        color: #fff;
      }

      &:first-child {
        border-top: 1px solid #a1a0a0;
      }

      .route-params-box {
        margin-top: 12px;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 26px;
        width: 100%;

        .route-params-input {
          height: 100%;
          flex: 1;
          color: #333;
          font-size: 24px;
          padding: 0 12px;
          border-radius: 8px;
          background: #fff;
        }
      }
    }

    .btn-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 48px;
      margin: 24px 12px;

      .btn {
        flex: 1;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #269601;
        color: #fff;
        border-radius: 48px;
        font-size: 28px;

        &:first-child {
          margin-right: 60px;
        }

        &.cancel {
          background: #fff;
          color: #333;
          border: 1px solid #333;
          box-sizing: border-box;
        }
      }
    }
  }

  .elf-movable-area {
    pointer-events: none;
    z-index: 999999;
    position: fixed;
    top: 160px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: calc(100vh - 160px);
  }

  .elf-movable-view {
    pointer-events: auto;
    display: inline-block;
    height: 80px;
    width: 120px;
    padding: 10px;
    box-sizing: border-box;
  }

  .elf-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 90%);
    color: #fff;
    font-size: 28px;
    border-radius: 10px;
    box-sizing: border-box;
  }

  .dev-config-item-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 10px;

    .elf-control-icon {
      height: 30px;
      width: 30px;
    }
  }

  .dev-config {
    &-panel {
      padding-top: 20px;
      background: #fff;

      &-header {
        font-weight: 500;
        padding: 20px 40px 20px 20px;
        font-size: 40px;
        display: flex;
        align-items: flex-start;

        &-icon-close {
          display: inline-block;
          margin-left: auto;
          height: 40px;
          width: 40px;

          image {
            width: 100%;
            height: 100%;
          }
        }
      }

      .controls-icon {
        margin-right: 4px;
      }

      .elf-page-change-line {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      .elf-env-box,
      .elf-page-change-line {
        min-width: 220px;

        .controls-btn-go {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }
    }

    &-list {
      padding: 0 20px;
    }

    &-item {
      display: flex;
      padding: 20px 10px;
      border-bottom: 1px solid #333;
      font-size: 28px;

      &-label {
        color: #333;
        font-weight: 400;
        width: 280px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        white-space: nowrap;
      }

      &-value,
      &-content {
        color: #9a9a9a;
        margin-left: auto;
        word-break: break-all;
        display: flex;
        align-items: center;
        line-height: 1.2;
      }

      &-content {
        color: #137cd7;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@keyframes elf-fade-in {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
